@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Regular.woff") format("woff"),
    url("./assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("./assets/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Bold.woff") format("woff"),
    url("./assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  font-family: sans-serif, system-ui, Avenir, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* background-color: #0a0a0aff; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* html {
  scroll-behavior: smooth;
} */
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

.spin {
  animation: spinMe 3s linear infinite;
}
.btn-social {
  @apply border hover:text-white border-[#262626] bg-[#191919]
    cursor-pointer  rounded-lg p-2;
}
.btn-download-cv {
  @apply border w-full p-2 cursor-pointer  
  flex items-center transition-all duration-300 
  justify-center hover:text-black rounded-lg
   bg-[#1f1f1f] border-[#262626]  hover:bg-[#57d039];
}
@keyframes spinMe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mask-marquee {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

body {
  margin: 0;
  display: flex;
  color: #ffffffde;
  justify-content: center;
  background-color: #0a0a0aff;
  min-height: 120vh;
}
/* .dark body {
  color: #ffffffde;
  background-color: #0a0a0aff;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #0a0a0aff; */
  animation: animateBg 50s linear infinite;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(8, 8, 8, 0.6) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* .dark .star-background {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(8, 8, 8, 0.6) 50%,
    rgba(0, 0, 0, 1) 100%
  );
} */

.gradient-bg {
  background: radial-gradient(
    ellipse at center,
    rgba(208, 129, 23, 0.7) 10%,
    rgba(143, 77, 14, 0.5) 40%,
    rgba(41, 41, 41, 0.6) 70%,
    rgba(21, 21, 21, 0.8) 90%,
    rgb(0, 0, 0) 100%
  );
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.02);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.active-link {
  position: relative;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: #191a1b;
  transition: background-color 0.1s ease, padding 0.5s ease;
  will-change: background-image;
}

/* .dark .active-link {
  background-color: #191a1b;
} */

.active-link::before,
.active-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 0.8rem;
  top: -0.2rem;
  left: -0.2rem;
  right: -0.2rem;
  bottom: -0.2rem;
  border: 1px solid rgb(24, 24, 24);

  background-image: conic-gradient(
    from var(--angle),
    #404040,
    #57d039,
    40%,
    #3f3f3f,
    #040407
  );
  animation: 6s spin linear infinite;
  transition: background-image 3s ease, opacity 0.2s ease;
}

/* .dark .active-link::before,
.active-link::after {
  border: 1px solid rgb(24, 24, 24);

  background-image: conic-gradient(
    from var(--angle),
    #404040,
    #57d039,
    40%,
    #3f3f3f,
    #040407
  );
} */

.active-link::before {
  filter: blur(0.5rem);
  opacity: 0.6;
  clip-path: inset(0 round 0.5rem);
}

.link-hover:hover {
  position: relative;
  padding: 0.6rem;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: #191a1b;
  transition: background-color 0.1s ease, padding 0.5s ease;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* .moving-border-btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
}

.moving-border-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #020211, #061b30, #064dd1);
  background-size: 400% 400%;
  border-radius: 50px;
  animation: gradientMove 4s linear infinite;
  z-index: -1;
} */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.static-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #5a5959;
  border-radius: 50%;
  animation: twinkle 3s infinite ease-in-out, fadeInOut 5s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.static-star:nth-child(odd) {
  animation-delay: 0.2s;
}

.static-star:nth-child(even) {
  animation-delay: 0.5s;
}

.star {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  animation: animate 12s linear infinite;
  visibility: hidden;
  opacity: 0;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #5a5959, transparent);
}

.star:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: 2s;
  animation-duration: 2s;
}

.star:nth-child(2) {
  top: 0%;
  left: 20%;
  animation-delay: 3s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 80%;
  left: 50%;
  animation-delay: 4s;
  animation-duration: 2.5s;
}

.star:nth-child(4) {
  top: 0%;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 3s;
}

.star:nth-child(5) {
  top: 0%;
  left: 60%;
  animation-delay: 6s;
  animation-duration: 2.8s;
}

.star:nth-child(6) {
  top: 0%;
  left: 80%;
  animation-delay: 7s;
  animation-duration: 3.2s;
}

.star:nth-child(7) {
  top: 30%;
  left: 90%;
  animation-delay: 8s;
  animation-duration: 3.5s;
}

@keyframes animate {
  0% {
    transform: rotate(210deg) translateX(0);
    opacity: 0;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(210deg) translateX(-600px);
    opacity: 0;
  }
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
.animated-border-button {
  position: relative;
  padding: 10px 20px;
  background-color: #064dd1; /* animated-border-button background color */
  color: white;
  font-size: 16px;
  border: 2px solid transparent; /* Transparent border to make space for the moving border effect */
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.animated-border-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff0066, #ff9900, #33cc33, #0066ff);
  background-size: 400% 400%;
  animation: moveBorder 3s linear infinite;
  z-index: -1;
}

.animated-border-button:hover {
  background-color: #003366;
}

@keyframes moveBorder {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
} */
