
/* font */
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #161616;
    color: #f1f0ee;
    font-family: Relative, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* add trasnition when scrolling */
.reveal-animation{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    
}
.active{
    opacity: 1;
    transform: translateY(0);
}
/* Navbar */

#header-nav{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #161616;
    align-items: center;
    box-shadow: 0 4px 8px #242422;

}
.navbar-logo{
    display: flex;
    padding-left: 5rem;
    justify-content: center;
    align-items: center;
}
.dev-text{
    font-size: 1.2rem;
    background: linear-gradient(to left, rgb(228, 228, 30), #d7c39c 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
}
.logo{
    width: 45px;
    height: 45px;
    object-fit: contain;
    padding: .4rem;
}
.links-container, .burger-menu-container{
    border: 1px solid #161616;
    border-radius: 20px;
    display: flex;
}
.nav-links, .burger-nav-links{
    display: flex;
    text-align: center;
    list-style: none;
    padding-top: 1rem;
}

.nav-links li a, .burger-nav-links li a{
    margin: 1.5rem;
    text-decoration: none;
    color: #f1f0ee;
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: 4px;
    transition: all 0.2s;
}

/* .nav-links li a:hover,
.nav-links li a.active {
    border-bottom: 3px solid yellow;
} */
.nav-social-links{
    padding-top: 0.5rem;
    padding: .5rem;
    margin-right: 2rem;
    background-color: #bfbbb3;
    border-radius: 10px;
}

.burger-nav-social-links{
    padding-top: 0.5rem;
    padding: .5rem;
    border-radius: 10px;
}
.nav-social-links a, .burger-nav-social-links a {
    margin: 0.5rem;
}
.nav-social-links a i{
    font-size: 1.5rem;
    color: black;

}
.burger-nav-social-links a i {
    font-size: 2.2rem;
    margin: .5rem;
    color: #f1f0ee;
}
.nav-social-links a i:hover{
    color: #fff;
}

.burger-menu{
    display: none;
}
.burger-menu span{
    background: linear-gradient(to right, rgb(228, 228, 30), #bfbbb3 80%);
    width: 20px;
    height: 3px;
    transition: 0.4s;
    display: block;
    margin-bottom: 5px;
}
.burger-menu span:nth-child(2){
    width: 30px;
}
.burger-menu span:nth-child(3){
    width: 25px;
}

.burger-menu.is-open span:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 6px);
    width: 30px;
}
.burger-menu.is-open span:nth-child(2){
    opacity: 0;
}
.burger-menu.is-open span:nth-child(3){
    transform: rotate(45deg) translate(-5px, -6px);
    width: 30px;
}

.burger-menu-container{
    display: none;
}


/* media query for hamburger menu */
@media screen and (max-width: 908px){
    .links-container, .nav-social-links{
        display: none;
    }
    .burger-menu{
        display: initial;
        margin-right: 1.5rem;
    }
    .navbar-logo{
        padding-left: 0;
        margin-left: 1rem;
    }
    .navbar-logo p{
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        border-bottom: 1px solid #282727;
        box-shadow: none;
        border-radius: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .burger-menu-container{
        background-color: #282727;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 60px;
        left: -100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        transition: 0.5s;
        padding: 1rem;
    }
    .burger-menu-container.is-open
    {
        left: 0;
        opacity: 1;
    }
    .burger-nav-links{
        margin-right: 0px;
        flex-direction: column;
        padding: 0;
    }
    .burger-nav-links li{
        margin: 1rem;
    } 
 

}
/* home style */
#welcome-section{
   height: auto;
   position: relative;
 

}
.home-content{
   text-align: center;

}
.home-title{
    padding-top: 10%;
    line-height: 2rem;
}

.custom-header{
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: -.04rem;
    color: #f1f0ee;
    display: flex;
    flex-direction: column;
    align-items: center ;
    opacity: 0.9;
}
.custom-text{
    color: rgba(216,213,209,.8);
    font-size: 1.25rem;
    white-space: pre-line;
}
.second-line{
    font-size: 5.5rem;
}
.developer-text{
    color: transparent;
    display: inline-flexbox;
    background: linear-gradient(to right, #f1f0ee,yellow);
    -webkit-background-clip: text;
    background-clip: text;
    padding-left: .25rem;
    padding-right: .35rem;
}
.picture-container{
    margin-left: 10%;
    width: 30%;
}
.my-img{
    width: 50%;
    border-radius: 50%;

}
.home-display-grid{
    color: white;
    display: flex;
    padding-top: 5%;

}
.home-display-container{
    text-align: left;
}
.home-display-container{
    width: 100%;
    line-height: 2rem;
}
.home-display-image{
    width: 90%;
}

.header-text-design{
    font-size: 4rem;
    letter-spacing: -.29rem;

    font-weight: bold;
    opacity: 0.8;
}

.home-display-subheader{
    font-size: 2.25rem;
    margin-top: 2rem;
}
.home-display-text{
    font-size: 1.55rem;
    margin-top: 2rem;
    line-height: 2.4rem;
    padding-right: 4rem;
}
.to-become-text{
    font-style: italic;
}
.full-stack-text{
    font-weight: bold;
    background: linear-gradient(to right, rgb(177, 191, 216), #c9edc4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.custom-btn{
    border-radius: 10px;
    border: none;
    padding: 8px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.custom-btn:hover{
    background-color: blue;
    color: white;
}

/* home section media query */
/* smaller screens */
@media screen and (max-width: 480px){
    .custom-header, .second-line{
        font-size: 2.2rem;
    }
    .home-title{
        padding-top: 30%;
        line-height: 2rem;
    }
    .custom-text{
        white-space: normal;
        font-size: 1.125rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .home-display-grid{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .my-img{
        object-fit: cover;
        max-width: 100%;
    }
    .home-display-container{
        text-align: center;
    }
    .header-text-design{
        font-size: 2rem;
        letter-spacing: normal; 
        padding-top: 5%;
    }
    .home-display-subheader, .home-display-text{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 100%;
        font-size: 1.3rem;
    }
}
/* medium sized screens */
@media screen and  (min-width: 481px) and (max-width: 767px){
    .custom-header, .second-line{
        font-size: 2.5rem;
    }
    .home-title{
        padding-top: 25%;
        line-height: 2rem;
    }
    .custom-text{
        white-space: normal;
        font-size: 1.125rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .home-display-grid{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .my-img{
        object-fit: cover;
        max-width: 100%;
    }
    .home-display-container{
        text-align: center;
    }
    .header-text-design{
        font-size: 2.2rem;
        letter-spacing: normal;
        padding-top: 5%; 
    }
    .home-display-subheader, .home-display-text{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 100%;
        font-size: 1.5rem;
    }
    
}
/* medium screens */
@media screen and (min-width: 768px) and (max-width: 991px){
    .custom-header, .second-line{
        font-size: 3rem;
    }
    .home-title{
        padding-top: 20%;
        line-height: 2rem;
    }
    .custom-text{
        white-space: normal;
        font-size: 1.125rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .home-display-grid{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .my-img{
        object-fit: cover;
        max-width: 100%;
    }
    .home-display-container{
        text-align: center;
    }
    .header-text-design{
        font-size: 2.2rem;
        letter-spacing: normal;
        padding-top: 5%; 
    }
    .home-display-subheader, .home-display-text{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 100%;
        font-size: 1.5rem;
    }
}
/* larger screens */
/* no adjustments for now */


/* skills styles */
#skills{
    padding-top: 10%;
    color: white;
    text-align: center;
    height: auto;
}
.header-text-design h2{
    font-size: 4rem;
    letter-spacing: -.29rem;
    font-weight: bold;
    opacity: 0.8;

}

.skills-text-design{
    margin-bottom: 5%;
}

.coding-grid-container{
    color: white;
    display: flex;
  
}
.laptop-img{
    max-width: 100%;
    filter: contrast(1.125);
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding-right: 7rem;
    display: flex;

}
.skills-image-grid{
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.coding-skills-text{
    text-align: left;
    width: 100%;
    padding-left: 12% ;
}
.fa-ul{
    font-size: 2rem;
    line-height: 5rem;
}
/* skills media query */
/* smaller screens */
@media screen and (max-width: 480px){
    .coding-grid-container{
        display: flex;
        flex-direction: column;
    }
    .skills-image-grid{
        order: -1;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-text-design h2{
        font-size: 2rem;
        letter-spacing: normal;
    }
    .laptop-img{
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding: 2rem;
    }
    .coding-skills-text{
        padding: 0%;
        margin-top: 5%;
       
    }
    .fa-ul{
        font-size: 1.3rem;
        line-height: 4rem;
    }
}
/* medium screens */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .coding-grid-container{
        display: flex;
        flex-direction: column;
    }
    .skills-image-grid{
        order: -1;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-text-design h2{
        font-size: 2.2rem;
        letter-spacing: normal;
    }
    .laptop-img{
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding: 2rem;
    }
    .coding-skills-text{
        padding: 0%;
        margin-top: 5%;
       
    }
    .fa-ul{
        font-size: 1.5rem;
        line-height: 4rem;
    }

}

/* large screens */
@media screen and (min-width: 768px) and (max-width: 991px){
    .coding-grid-container{
        display: flex;
        flex-direction: column;
    }
    .skills-image-grid{
        order: -1;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-text-design h2{
        font-size: 2.2rem;
        letter-spacing: normal;
    }
    .laptop-img{
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding: 2rem;
    }
    .coding-skills-text{
        padding: 0%;
        margin-top: 5%;
       
    }
    .fa-ul{
        font-size: 1.7rem;
        line-height: 4rem;
    }
} 
/* projects */
#projects{
    text-align: center;
    padding-top: 5%;
   
}

.project-tile{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5rem;
   padding: 4rem;
   border-radius: 8px;
}


.project-card{
    border: 3px solid #bfbbb3;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    background-color: #bfbbb3a2;
    position: relative;
}
.project-card a {
    text-decoration: none;
    display: block;
    width: 100%;

}
.project-img{
    width: 100%;
    height: 250px;
    object-fit: fill;
}   

.project-title{
    padding: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project-title h3{
    color: rgb(6, 6, 5);
}


.project-link {
    position: absolute;
    cursor: pointer;
    top: 100%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 0.5rem;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(2px);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: 3s;
    display: none;
    transform: translateY(100%); /* Move it down by default */
    transition: transform 0.5s ease-in-out;
}

.project-card:hover .project-link{
    display: initial;
    top: 0;
    transform: translateY(0); 
}
.project-link a{
    text-decoration: none;
    color: yellow;
    display: inline;
    line-height: 2;
    margin: .5rem;


}
.project-link h2{
    padding-top: 2rem;
}
.project-link a:nth-child(3){
    color: rgb(83, 207, 83);
    padding: .5rem;
    border: 1px solid;
    border-radius: 5px;
}
.project-link a:nth-child(4){
    border: 1px solid;
    padding: .5rem;
    border-radius: 5px;
}

.project-link a:nth-child(3):hover{
    background-color: #4e804894;
}

.project-link a:nth-child(4):hover{
    background-color: rgba(255, 255, 0, 0.399);
}






@media screen and (max-width: 480px) {
    .project-tile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
       
    }
   .project-card{
    margin-right: auto;
    margin-left: auto;
   }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .project-tile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .project-card{
        margin-right: auto;
        margin-left: auto;
       }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .project-tile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .project-card{
        margin-right: auto;
        margin-left: auto;
       }
}

/* blog styling */
#blog{
  padding-top: 5%;
}
.blog-container{
    text-align: center;
    line-height: 4rem;
}
.blog-container h2{
    font-size: 4rem;
    letter-spacing: -.15rem;
}
.about-me-text{
    display: inline;
    border-left: 4px solid orange;
    border-width: 5px;
    background: linear-gradient(to right, rgb(71, 62, 10), transparent);
    padding-left: .25rem;
}
.blog-link{
    background-color: #d8d5d1;
    padding: 1rem 1.2rem;
    border-radius: .6rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all .5s;

}
.blog-link:hover{
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 16px rgba(255, 255, 255, .5);
}
/* blog section media queires  */
/* smaller screens */
@media screen and (max-width: 480px) {
    .blog-container h2{
        font-size: 1.5rem;
        letter-spacing: normal;
        margin: auto;
    }
    .about-me-text{
        border-left: 2px solid orange;
    }
    .blog-link{
        font-size: .9rem;
        padding: .5rem 1rem;
    }
}
/* medium screens */
@media screen and (min-width: 481px) and (max-width: 767px){
    .blog-container h2{
        font-size: 1.8rem;
        letter-spacing: normal;
        margin: auto;
    }
    .about-me-text{
        border-left: 3px solid orange;
    }
    .blog-link{
        font-size: 1.2rem;
        padding: .6rem .9rem;
    }
}
/* larger screen */
@media screen and (min-width: 768px) and (max-width: 991px){
    .blog-container h2{
        font-size: 2rem;
        letter-spacing: normal;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .about-me-text{
        border-left: 4px solid orange;
    }
    .blog-link{
        font-size: 1.5rem;
        padding: .9rem 1.1rem;
       
    }
}

/* contact styling */
#contact{
text-align: center;
padding-top: 5%;
padding-bottom: 5%;
}

.get-in-touch{
    padding-bottom: 3%;
}
.contact-container{
    text-align: left;
    display: flex;
    height: 35rem;
    width: 80%;
    max-width: 90%;
    border-radius: 2rem;
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.183), rgba(128, 128, 128, 0.278) ); ;
}
.contact-text-container{
    width: 100%;
    margin-left: 5rem;
}
.contact-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-header-text{
    color: #fff;
    font-size: 2.5rem;
    padding-top: 20%;
}
.contact-paragraph{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: rgba(216,213,209,.8);
    line-height: 1.5;
    padding-right: 3.5rem;
}

/* section{
    scroll-margin-top: auto;
} */

.social-links{
    padding-top: 2rem;
}
.social-links a i{
    color: #d4d3d2;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.social-links a i:hover{
    color: #ffffff;
    transform: scale(1.1);
   
}
.frame-laptop{
    width: 100%;
    object-fit: contain;
    padding-right: 1rem;
}
/* contact meedia queries */
/* smaller screens */
@media screen and (max-width: 480px){
    .contact-container{
        flex-direction: column;
        height: auto;
    }
    .contact-text-container{
        margin: 0;
    }
    .contact-header-text{
        font-size: 1.5rem;
        margin-top: 10%;
        padding-left: 2rem;
    }
    .header-text-design h2{
        font-size: 2rem;
        letter-spacing: normal;
    }
    .contact-paragraph{
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1rem;
    }
    .contact-paragraph span{
        display: inline;
    }
    .social-links{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 3rem;
    }
    .fa-github, .fa-twitter, .fa-instagram{
        font-size: 2.5rem;
    }
    .frame-laptop{
        margin-top: 20%;
        object-fit: cover;
        width: 100%;
        padding: 20px;
    }

}
/* medium sized screens */
@media screen and (min-width: 481px) and (max-width: 767px){
    .contact-container{
        flex-direction: column;
        height: auto;
    }
    .contact-text-container{
        margin: 0;
    }
    .contact-header-text{
        font-size: 1.8rem;
        margin-top: 10%;
        padding-left: 2rem;
    }
    .contact-paragraph{
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.5rem;
    }
    .header-text-design h2{
        font-size: 2.2rem;
        letter-spacing: normal;
    }
    .contact-paragraph span{
        display: inline;
    }
    .social-links{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 3rem;
    }
    .fa-github, .fa-twitter, .fa-instagram{
        font-size: 2.8rem;
    }
    .frame-laptop{
        object-fit: contain;
        width: 100%;
        margin-top: 20%;
        padding: 20px;
      
    }
}

/* large screens */
@media screen and (min-width: 768px) and (max-width: 991px){
    .contact-container{
        flex-direction: column;
        height: auto;
    }
    .contact-text-container{
        margin: 0;
    }
    .contact-header-text{
        font-size: 2.2rem;
        margin-top: 10%;
        padding-left: 2rem;
    }
    .contact-paragraph{
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.8rem;
    }
    .header-text-design h2{
        font-size: 2.2rem;
        letter-spacing: normal;
    }
    .contact-paragraph span{
        display: inline;
    }
    .social-links{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 3rem;
    }
    .fa-github, .fa-twitter, .fa-instagram{
        font-size: 3rem;
    }
    .frame-laptop{
        object-fit: contain;
        width: 100%;
        margin-top: 20%;
        padding: 20px;
      
    }
}
/* background-color: rgba(249,250,251,var(--tw-bg-opacity));
} */

/* footer */
footer{
    font-size: .875rem;
    text-align: center;
    padding: 20px 0;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    box-shadow: 0 -4px 8px #222121;
}



